{% extends 'base/base.html' %}

{% block contenidoQueCambia %}


{% if lista_post == 0 %}
<h2>No hay ninguna publicación hasta este momento.</h2>

{% else %}
<h2>Listado de publicaciones: </h2>

<ul>
    {%for posteo in lista_post %}
    <li><h3>{{ posteo.titulo }}</h3></li>
    <li><h5>Sección: {{ categoria.nombre }}</h5></li>
    <li>Escrito por: {{ posteo.autor }} en {{ posteo.fecha }}</li>
    <li><h5>{{ posteo.extracto }}</h5></li>
    {% endfor %}
</ul>

{% endif %}

{% endblock contenidoQueCambia %}