{% extends 'base/base.html' %}

{% block contenidoQueCambia %}

{% if not lista_posts_categoria %}
<h2>No hay nada que mostrar en la sección {{ categoria.nombre }} </h2>

{% else %}
<h2>Publicaciones en {{ categoria.nombre }}: </h2>

<article>
    {%for posteo in lista_posts_categoria %}
<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis"> Mundo {{ categoria.nombre }}:</strong>
        <h3 class="mb-0">  {{ posteo.titulo }} </h3>
        <div class="mb-1 text-body-secondary"> {{ posteo.fecha|date:"SHORT_DATE_FORMAT" }}</div>
        <p class="card-text mb-auto"><b>Resumen:</b> {{ posteo.extracto }}</p>
        <a href="{% url 'detallePost' posteo.id %}" class="icon-link gap-1 icon-link-hover stretched-link">
          Continúa leyendo >>
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      </div>
    </div>
  </div>

  {% endfor %}
</article>
{% endif %}

{% endblock contenidoQueCambia %}






 