{% extends 'comun/base.html' %}

{% block contenidoQueCambia %}

<h2>Lista de usuarios:</h2>

<ul>
    {%for usuario in usuarios %}
    <li> {{ usuario }} </li>

    <div style="display: flex;column-gap: 5px;">
        <form action=" {% url 'eliminarUsuario' usuario.id  %} " method="post"> {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
        <button>
            <a href=" {% url 'editarUsuario' usuario.id %} ">Editar</a>
        </button>
    </div>     
    {% endfor %}
</ul>

{% endif %}

{% endblock contenidoQueCambia %}
