{% extends 'base/base.html' %}

{% block contenidoQueCambia %}

<h2>Lista de usuarios:</h2>

<ul>
    {%for usuario in usuarios %}
    <li> {{ usuario }} </li>

    <div style="display: flex;column-gap: 5px;">
        <button>
            <a href="{% url 'eliminarUsuario' usuario.id  %}">Eliminar</a>
        </button>
        <button>
            <a href="{% url 'editarUsuario' usuario.id %}">Editar</a>
        </button>
    </div>     
    {% endfor %}
</ul>

{% endif %}

{% endblock contenidoQueCambia %}
